@model ProdukterListViewModel

<h1>@Model.CurrentCategory</h1>

<h1 class="col-xs-pull-6">Produkter</h1>

@foreach (var produkter in Model.Produkter)
{
    <partial name="_ProduktCard" model="produkter" />
}

